@use "variables" as *;

//TODO:
//html file add:
// <option value="">Select an option</option>

.answer .flexContainer{
  display: flex;
  background-color: $secondary;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  h2 {
    margin: 2rem 1rem 1rem 1rem;
  }
}

.answer .cardContainer {
  background-color: $tertiary;
  margin: 0 auto;
  .imgContainer {
    overflow: hidden;
    padding: 1rem;
    max-width: 100vw;
    .img {
      width: 100%;
    }
  }
  .cardContentContainer {
    background-color: $quaternary;
    padding: 2rem;
    text-align: center;
  }
}
